.header {
	display: flex;
	align-items: center;
	height: 70px;
	padding: 0 20px;
	background-color: #ddd;
}

.link {
	color: #333;
	text-decoration: none;
}

.link:not(:last-child) {
	margin-right: 15px;
}
